* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: white;
}

#contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 700px !important;
  margin: 0 auto;
  background-color: black;
  padding: 30px;
  border: 5px solid rgb(114, 173, 229);
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(114, 173, 229) !important;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: rgb(114, 173, 229);
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fefefe;
  color: black;
}

input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #fefefe;
  color: black;
}

textarea {
  resize: vertical;
  min-height: 100px;
}

.form-check {
  margin-bottom: 10px;
}

.form-check input[type="radio"] {
  margin-right: 10px;
}

.form-check label {
  display: inline-block;
  font-size: 16px;
}

.form-button {
  text-align: center;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: rgb(59, 145, 226);
  color: black;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: rgb(114, 173, 229);
}

.mapa {
  text-align: center;
  height: 400px;
  margin-top: 20px;
  border-radius: 10px;
}