.text-body {
  color: black;
}

#legal {
  color: black;
}

footer {
  background-color: rgb(255, 255, 255);
  margin-top: 40px;
  width: 100%;
}

footer div section a svg {
  color: black;
  width: 28px;
  height: 28px;
  transition: all 0.4s ease;
}

footer div section a svg:hover {
  color: rgb(114, 173, 229)
  ;
}