*{
    margin: 0;
    padding: 0;
}
img{
    object-fit: cover;
}
.carousel-inner .carousel-item img {
    width: 100%; 
    height: 742px; 
    object-fit: cover; 
}
.titulo{
    position: absolute;
    top: 350px;
    left: 400px;
    width: 60%;
    z-index: 1;
    background-color: rgba(192, 192, 192, 0.653);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
h1{
    font-size: 6rem;
    background: linear-gradient(to bottom, rgb(114, 173, 229), rgb(0, 0, 0));
    -webkit-background-clip: text; 
    color: transparent;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.subtituloServicios{
    text-align: center;
    font-family: sans-serif;
}
.columnasServicio{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.servicio{
    border: 1px solid black;
    display: flex;
}