nav{
    width: 100%;
}
.navbar-collapse{
    display: flex;
}
.navbar-nav{
    width: 100% !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carrito{
    width: 30px ; 
}
nav a {
    text-align: center;
    font-size: 1.2rem;
    
}
.logo{
    border-radius: 50%;
    width: 50px;
}
.nav-link{
    font-weight: bolder ;
    background: linear-gradient(to top, rgb(114, 173, 229), rgb(0, 0, 0));
    -webkit-background-clip: text; 
    color: transparent;
    font-size: 22px;
    transition: 1s;
}

.nav-link:hover{
    transform: scale(1.1);
    color: rgb(114, 173, 229);
  
}
.carrito-icon:hover{
    transform: none;
}
.total{
    margin-top: 10px;
    font-weight: bold;
}
